@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

p:not(:last-child) {
  margin-bottom: 0.5rem;
}

.renaissance-speaker > div {
  grid-template-areas: 'speaker-photo' 'speaker-info';
}
@media (min-width: 768px) {
  .renaissance-speaker:nth-child(odd) > div {
    grid-template-areas: 'speaker-photo speaker-info';
  }
  .renaissance-speaker:nth-child(even) > div {
    grid-template-areas: 'speaker-info speaker-photo';
  }
}
