@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

p:not(:last-child) {
  margin-bottom: 0.5rem;
}

.renaissance-speaker > div {
  grid-template-areas: 'speaker-photo' 'speaker-info';
}
@media (min-width: 768px) {
  .renaissance-speaker:nth-child(odd) > div {
    grid-template-areas: 'speaker-photo speaker-info';
  }
  .renaissance-speaker:nth-child(even) > div {
    grid-template-areas: 'speaker-info speaker-photo';
  }
}

.refraction-rainbow {
  background: linear-gradient(to right,#6f9ba8fa,#909aecf4, #e778b0f1, #6366f1, #7715fffc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

