@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

p:not(:last-child) {
  margin-bottom: 0.5rem;
}

ol {
  list-style-type: disc;
}
